
@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h2>Part Invitation</h2>

    <p> We are going to have Party!</p>

    <img src="~/Images/party.jpg" />

    <br />
    <br />
    <div class="btn btn-success">
        @Html.ActionLink("RSVP now", "RsvpForm")
    </div>
</div>